.mainheading {
    text-align: center;
    color: #775B59;
}

#forkongithub a {
    background: #000;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
  }
  #forkongithub a:hover {
    background: #c11;
    color: #fff;
  }
  #forkongithub a::before,
  #forkongithub a::after {
    content: '';
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
  }
  #forkongithub a::after {
    bottom: 1px;
    top: auto;
  }
  #forkongithub a {
    width: 200px;
    position: absolute;
    top: 40px;
    right: -90px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }

.description {
    text-align: left;
    max-width: 800px;
    margin:0 auto;
    align: center;
    background-color: rgba(255, 255, 255, 0.55);
}

.status {
    text-align: left;
    max-width: 800px;
    margin:0 auto;
    align: center;
    background-color: rgba(255,250,205, 0.55);
}

.statustable {
    margin-left: auto;
    margin-right: auto;
}

.playbtt {
    background: #B3B7EE;
}

.stopbtt {
    background: #ed3330;
}

.previousbtt {
    background: #5B5941;
}

.nextbtt {
    background: #5B5941;
}
.stagebtt{
    background: #175869;
    margin-right: 10px;
}

.stagebttactive{
    background: #C3EA80;
}

.btt {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.btt:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.note {
    text-align: left;
    max-width: 800;
    padding-left: 10px;
    padding-right: 10px;
}